.jobs-container {
    display: flex;
    min-height: 85vh;
    background-color: #ffffff;
    width: 100%;
    color: white;
    padding: 20px 40px;
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top: 15vh;
  }
  
  @media screen and (max-width: 768px) {
    .jobs-container {
      flex-direction: column;
      padding: 20px 15px;
      margin-top: 10vh;
    }
  }